@font-face {
	font-family: "Roboto";
	src: url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto-regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/roboto-bold-webfont.woff2") format("woff2"), url("fonts/roboto-bold-webfont.woff") format("woff");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/roboto-light-webfont.woff2") format("woff2"), url("fonts/roboto-light-webfont.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'mdi';
	src:
		url('fonts/mdi.ttf?rirzei') format('truetype'),
		url('fonts/mdi.woff?rirzei') format('woff'),
		url('fonts/mdi.svg?rirzei#mdi') format('svg');
	font-weight: normal;
	font-style: normal;
}