// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
//input[type='date'],
textarea,
select {
	appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-style: none;
	height: 60px;
	font-size: $font-size-large;
	line-height: 1;
	border-radius: $border-radius-small;
	box-sizing: border-box;
	padding: $form-element-padding;
	background: $form-element-background-color;
	background-clip: padding-box;
	outline: none;
	color: $placeholder-color;

	// on focus
	&:focus::-moz-placeholder { opacity: 0; }
	&:focus:-ms-input-placeholder { opacity: 0; }
	&:focus::-webkit-input-placeholder { opacity: 0; }
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	@include placeholder {
		color: $placeholder-color;
	}
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	&::-ms-expand {
		display: none;
	}
}

@media only screen and (max-width: $tablet) {
	input[type='text'],
	input[type='tel'],
	input[type='email'],
	input[type='search'],
	input[type='password'],
	//input[type='url'],
	//input[type='date'],
	textarea,
	select {
		font-size: $font-size-average;
		height: 40px;
	}
}